#principal{
    width: 960px;
    margin: 0 auto;
}
#joc{
    position:relative;
    margin-top: 20px;
}
#game {
    border: #666 50px solid;
    border-bottom-width: 0;
    display: block;
    margin: 0 auto;
}